@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2 class="page-title">Reviews</h2>

<p class="create-new btn btn-primary">
    @Html.ActionLink("Create New", "Create")
</p>

<!--Populates reviews, displayed as thumbnail cards without body of review-->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <h3>
                    <b>@Html.DisplayFor(modelItem => item.Category.CategoryName)</b>
                </h3>
                <h3 class="thumb-text">
                    <i>@Html.DisplayFor(modelItem => item.ReviewTitle)</i> 
                </h3>
                <h4 class="thumb-text">
                    Date: @Html.DisplayFor(modelItem => item.ReviewDate)
                </h4>
                <h4 class="thumb-text">
                    Traveler: @Html.DisplayFor(modelItem => item.ReviewerName)
                </h4>
                <div class="text-center"><button class="btn btn-primary btn-sx" type="button">@Html.ActionLink("Details", "Details", new { id = item.ReviewID })</button>   
                </div>
                
                <p class="links">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
                </p>
            </div>
        </div>
    }
</div>
